.button.button-danger {
  color            : #FFFFFF;
  background-color : #AF2D2B;
  border-color     : #A62D2B;
  box-shadow       : 0 1px 0 #A72D2B;
  vertical-align   : top;
  &:hover, &:focus, &:active, &.active {
    color      : #FFFFFF;
    background : #C9302C;
    }
  }

[data-depends] {
  display : none;
  }

.meta-image-field-wrapper {
  display : table;
  .button {
    margin  : 5px 0;
    display : block;
    }
  .image-preview {
    display       : table-cell;
    width         : 60px;
    padding-right : 10px;
    }
  .button-wrapper {
    display        : table-cell;
    vertical-align : top;
    }
  }

.gwp-rate-stars {
  display  : inline-block;
  color    : #FFB900;
  position : relative;
  top      : 3px;

  svg, svg a {
    fill   : #FFB900;
    stroke : #FFB900;
    cursor : pointer;
    &:hover {
      fill : #FFB900;
      ~ svg, ~ svg a {
        fill : none;
        }
      }
    }
  }

#wvs-meta-preview {
  width : 30px;
  }

.wvs-preview {
  width  : 30px;
  height : 30px;
  border : #000000 1px solid;
  }

#woo-variation-swatches-settings-wrap{

  #settings-tabs{
    margin-top: 30px;

    //Section heading
    h2{
      font-size: 1.5em;
      margin-bottom: 10px;
      }


    // form table style
    .form-table{
      margin-top: 15px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 1px 1px rgba(0,0,0,0.04);

      tr{
        border-bottom: 1px solid #eee;
        display: block;

        &:last-child{
          border: 0;
          }
        }

      th{
        padding: 20px 10px 20px 20px;
        }
      }

    // Style & special tab margin
    #style,
    #special{
      .form-table{
        margin-bottom: 30px;
        }
      }
    }


  // Tutorial Tab
  #tutorial{
    .form-table{
      tr{
        padding: 0 !important;
        }
      }

    .gwp-tutorials-wrapper{
      img{
        width: 100%;
        }

      ul{
        margin: 0;
        }

      li{
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 50px 30px;
        margin: 0;
        border-bottom: 1px solid #ddd;

        &:last-child{
          border: 0;
          }
        }
      .tutorial-image-wrapper,
      .tutorial-description-wrapper{
        float: left;
        padding: 0 20px;
        box-sizing: border-box;
        }

      .tutorial-image-wrapper{
        width: 60%;
        }
      .tutorial-description-wrapper{
        width: 40%;

        h3{
          margin: 0 0 20px;
          font-size: 1.5em;
          }

        .tutorial-contents{
          font-size: 15px;
          line-height: 1.5em;
          margin-bottom: 20px;
          }


        .tutorial-buttons{
          .button{
            border-radius    : 3px;
            line-height      : 1;
            padding          : 13px 20px;
            font-size        : 13px;
            height           : 40px;
            box-shadow       : none;
            text-shadow      : none;
            &:active {
              transform : translateY(0);
              }

            &.button-live-demo{
              background-color : #fff;
              color            : #333;
              border           : 1px solid #eee;
              &:hover {
                background : #eee;
                }
              }

            &.button-docs{
              background-color : #36373a;
              color            : #FFFFFF;
              border           : 1px solid #36373a;
              &:hover {
                background : #5d5e61;
                border-color: #5d5e61;
                }
              }

            }

          }


        }

      }
    }

  }
