.woo-variation-swatches-stylesheet-enabled {

  .woo-variation-raw-select {
    display : none !important;
    }

  // Swatches global style
  //----------------------
  .variable-items-wrapper {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0;
    padding   : 0;

    .variable-item {
      margin     : 0;
      padding    : 0;
      list-style : none;
      transition : all 200ms ease;
      img {
        margin : 0; /** Storefront FIX */
        }
      }

    &.radio-variable-wrapper {
      display : block;

      .radio-variable-item {
        box-sizing : border-box;
        display    : block;
        list-style : none;
        cursor     : pointer;
        margin     : 0;
        label, input {
          cursor : pointer;
          }

        input {
          width        : auto;
          margin-right : 5px;
          }

        label {
          font-weight : normal;
          font-size   : 14px;
          display     : inline-block;
          }
        }
      }

    .variable-item:not(.radio-variable-item) {
      box-sizing      : border-box;
      cursor          : pointer;
      display         : flex;
      justify-content : center;
      align-items     : center;
      background      : #FFFFFF;
      box-shadow      : 0 0 0 1px rgba(#000, .30%);
      padding         : 2px;
      margin          : 4px 8px 4px 0;

      // last item margin reset
      &:last-of-type {
        margin-right : 0;
        }

      //variable hover style
      &:hover {
        box-shadow : 0 0 0 3px rgba(#000, .10%);
        }

      //variable selected item
      &.selected,
      &.selected:hover {
        box-shadow : 0 0 0 2px rgba(#000, .90%);
        }

      // color variable item style
      &.color-variable-item {
        span {
          width    : 100%;
          height   : 100%;
          position : relative;

          &::after {
            position   : absolute;
            content    : "";
            width      : 100%;
            height     : 100%;
            top        : 0;
            left       : 0;
            box-shadow : inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
            }
          }
        }

      // Button variable item style
      &.button-variable-item {
        text-align : center;
        }
      }
    }

  // Swatches square and rounded shape style
  //----------------------------------------
  &.woo-variation-swatches-style {
    &-rounded .variable-items-wrapper {
      .variable-item {
        border-radius : 100%;
        span, img, span::after {
          border-radius : 100%;
          }
        }
      }
    &-squared .variable-items-wrapper {
      .variable-item {
        border-radius : 2px;
        &.button-variable-item {
          width : auto;
          span {
            padding : 0 5px;
            }
          }
        &.color-variable-item span {
          &::after {
            border-radius : 0;
            }
          }
        }
      }
    }

  // Swatches variation behavior
  //--------------------------------
  &.woo-variation-swatches-attribute-behavior {
    &-blur {
      .variable-item:not(.radio-variable-item) {
        &.disabled,
        &.disabled:hover {
          cursor         : not-allowed;
          box-shadow     : 0 0 0 1px rgba(#000, .05%);
          pointer-events : none;
          position       : relative;
          overflow       : hidden;

          img, span {
            opacity : .3;
            }

          &::before,
          &::after {
            position         : absolute;
            content          : " " !important;
            width            : 100%;
            height           : 1px;
            background       : #FF0000 !important;
            left             : 0;
            right            : 0;
            bottom           : 0;
            top              : 50%;
            visibility       : visible;
            opacity          : 1;
            border           : 0;
            margin           : 0 !important;
            padding          : 0 !important;
            min-width        : auto;
            transform-origin : center;
            }

          &::before {
            transform : rotate(45deg);
            }

          &::after {
            transform : rotate(-45deg);
            }

          }
        }

      .radio-variable-item {
        &.disabled,
        &.disabled:hover {
          label, input {
            cursor          : not-allowed;
            text-decoration : line-through;
            opacity         : .5;
            }

          &::before,
          &::after {
            display : none;
            }
          }
        }
      }
    &-hide {
      .variable-item {
        &.disabled {
          &.radio-variable-item {
            width : auto !important;
            }

          opacity          : 0;
          visibility       : hidden;
          transform        : scale(0);
          transform-origin : center;
          width            : 0 !important;
          height           : 0 !important;
          padding          : 0 !important;
          margin           : 0 !important;
          min-width        : 0 !important;
          min-height       : 0 !important;
          //display : none;
          }
        }
      }
    }

  // tool tips
  &.woo-variation-swatches-tooltip-enabled {

    // Default
    .radio-variable-item[data-wvstooltip] {
      &::before,
      &::after {
        left   : 10px;
        bottom : 100%;
        }
      }

    &.woo-variation-swatches-archive-align-center .wvs-archive-variation-wrapper .radio-variable-item[data-wvstooltip] {
      &::before,
      &::after {
        left : 50%;
        }
      }

    &.woo-variation-swatches-archive-align-right .wvs-archive-variation-wrapper .radio-variable-item[data-wvstooltip] {
      &::before,
      &::after {
        left : 90%;
        }
      }

    }
  }