// Sober
//============
.woo-variation-swatches-theme-sober {

  // Item page
  //================
  .product form.cart {
    .variations {
      div {
        margin-bottom   : 20px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        }

      .label {
        display      : block;
        text-align   : right;
        margin-right : 10px;
        }

      .value {
        flex-grow : unset;
        }

      select {
        border             : 1px solid #E4E6EB;
        padding            : .5em 1em;
        text-align         : left;
        text-align-last    : left;
        -webkit-appearance : menulist-button;
        }

      }

    .radio-variable-item {
      margin     : 5px;
      text-align : left;
      &:last-child {
        margin-right : 0;
        }
      label {
        padding-left : 30px;
        margin       : 0;
        &::before {
          top           : 0;
          border-radius : 100%;
          }

        &::after {
          top : 8px;
          }
        }
      }

    }

  // Item style 4
  &.product-style-4 .product form.cart {
    .variations {
      div {
        display : block;
        }

      .label {
        display       : block;
        text-align    : center;
        margin-bottom : 10px;

        label {
          border-bottom : 1px solid #EEEEEE;
          }
        }

      .variable-items-wrapper {
        justify-content : center;
        }
      }
    }
  }

// Shophistic Lite
//=================
.woo-variation-swatches-theme-shophistic-lite {
  &.woocommerce #main .entry-summary .variations {
    display : block !important;
    }

  .ql_custom_variations {
    display : none !important;
    }

  .radio-variable-item input[type="radio"] {
    display : inline-block;
    margin  : 0;
    }
  }

//Flatsome
//============
.woo-variation-swatches-theme-flatsome .variations .reset_variations {
  position : relative;
  bottom   : 0;
  left     : 0;
  }

// Stockholm
//==============
.woo-variation-swatches-theme-stockholm .variations .reset_variations {
  position  : relative;
  bottom    : 0;
  left      : 0;
  transform : none;
  }

//Kalium
//============
.woo-variation-swatches-theme-kalium,
.woo-variation-swatches-theme-kalium-child {
  .image-variable-item img {
    width : 100% !important;
    }

  .radio-variable-item input {
    width  : 16px !important;
    height : 16px !important;
    }

  .woo-variation-items-wrapper .select-option-ui {
    display : none;
    }
  }

//AURUM
//============
.woo-variation-swatches-theme-aurum,
.woo-variation-swatches-theme-child-aurum {
  .variable-items-wrapper .image-variable-item > img {
    width : 100%;
    }
  }

// Hestia Theme
//================
.woo-variation-swatches-theme-hestia {
  .woo-variation-items-wrapper.value {
    &::before {
      display : none !important;
      }
    }
  }

// TheGem theme
//=================
.woo-variation-swatches-theme-thegem,
.woo-variation-swatches-theme-child-thegem{
  .woo-variation-items-wrapper .combobox-wrapper{
    display: none;
    }

  .wvs-archive-variation-wrapper .variations{
    padding: 0;
    }
  }

// Ushop
//============
.woo-variation-swatches-theme-ushop,
.woo-variation-swatches-theme-child-ushop{
  .variations_form{
    overflow: visible !important;
    }

  .single-product-summary .product_meta{
    display: inline-table;
    }
  }

// Savoy
//===========
.woo-variation-swatches-theme-savoy,
.woo-variation-swatches-theme-child-savoy{
  .woo-variation-items-wrapper{
    position: relative !important;
    .sod_select{
      display: none !important;
      }
    }
  .nm-variation-row{
    display: flex;
    }
  }

// WoodStock
//===============
.woo-variation-swatches-theme-woodstock,
.woo-variation-swatches-theme-child-woodstock{
  .woo-variation-items-wrapper .variation-select{
    display: none !important;
    }
  }

// WoodMart
//===============
.woo-variation-swatches-theme-woodmart,
.woo-variation-swatches-theme-child-woodmart{
  .woo-variation-items-wrapper > .swatches-select{
    display: none;
    }
  }



